<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <!--<ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['../item', item.id]" [text]="item.name" class="list-group-item"></Label>
        </ng-template>
    </ListView>-->
    <Button class="btn btn-primary btn-active" id="button7" text="STOPd ALARM" (tap)="onEnd($event)" left="130" top="310" width="120" height="50" ></Button>
</GridLayout>